<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <span class="badge badge-secondary">{{activeCounters$ | async}}</span>
</nav>

<div class="body my-3">
    <div class="reset text-left">
        <button type="button" class="btn btn-warning mx-1" (click)="addCounter()">Add</button>
        <button type="button" class="btn btn-primary" (click)="resetCounters()">Reset</button>
    </div>
    <div class="counters my-3">
        <div class="counter text-left my-2" *ngFor="let counter of counters$ | async">
            <span class="badge" [ngClass]="{'badge-warning': counter.value == 0, 'badge-primary': counter.value > 0}">{{counter.value}}</span>
            <button type="button" class="btn btn-secondary mx-1" (click)="incrementCounter(counter.id)">Increment</button>
            <button type="button" class="btn btn-danger mx-1" (click)="deleteCounter(counter.id)">Delete</button>
        </div>
    </div>
</div>